.onweb{
    text-align:left;
    padding-bottom: 20px;
}
.firstline{
    display:flex;
    justify-content:space-between;
}
button{
    width:8%;
    background-color: rgb(255, 179, 39);
    color:white;
    border:0px;
}

.row{
    padding-top:10px;
}
.web{
    width:90%;
    border:0px;
}